<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/users/update/{{user.id}}' method = "POST">
        username : <input type="text" name="username" value="{{user.username}}"> <br>
        email : <input type="email" name="email" value="{{user.email}}"> <br>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>